.footer{
background:#111;
color:white;
text-align:center;
padding:20px;
font-size:14px;

/* 🔥 remove espaço feio */
margin:0;
margin-top: auto;

/* garante colar no final */
position:relative;
}

.footer a{
color:#ff6b00;
text-decoration:none;
font-weight:600;
}